*{
  margin: 0;
  padding: 0;
}
.attribution{
  font-size: 13px; text-align: center;
  a{color: hsl(228, 45%, 44%);}
  position: absolute;
  bottom:0%;
  width: 100%;
}

body{
        font-family: "Outfit", sans-serif;
        background-color: hsl(212, 45%, 89%);
        min-height: 100vh;
        display: flex;
        align-items: center;
        font-size: 15px;
    }

.content{
  max-width: 360px;
  margin: 0 auto;
}

.suit{
 background-color: hsl(0, 0%, 100%);
 padding: 24px;
 border-radius: 17px;
 text-align: center;
 margin: 0 1em;
}

.suit img{
  width: 100%;
  border-radius: 12px;
}

.text{
  padding: 20px 10px;
}

.text h2{
  color: hsl(218, 44%, 22%);
  padding-bottom: 12px;
}

.text  p{
  color: hsl(216, 15%, 48%);
}
